.header{
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 100px;
    height: 100px;
}
ul{
    display: flex;
}
li{
    list-style: none;
    font-size: larger;
    margin: 10px;
}
.loginBtn{
    margin-right: 10px;
    padding: 5px;
    border-radius: 10px;
    font-size: larger;
}
.ShimmerUI{
    display: flex;
    flex-wrap: wrap;
}
.dummyUI{
    border-radius: 10px;
    border: 1px solid black;
    width: 250px;
    height: 325px;
    margin: 10px;
    background-color: rgb(247, 242, 242);
}
.RestaurantContainer{
    display: flex;
    flex-wrap: wrap;
    
}
.rescard{
    border-radius: 10px;
    border: 1px solid black;
    width: 250px;
    height: 325px;
    margin: 10px;
    background-color: rgb(247, 242, 242);

}
#ResImg{
    width: 240px;
    padding: 5px;
    height: 170px;
    border-radius: 10px;
}
.rescard > h3,p{
    margin: 0px;
    padding: 3px 5px;
}
.TopresBtn,.search-box,.searchBtn {
    margin: 5px 0px;
    padding: 5px;
    border-radius: 0px;
}
.filter-btn{
    display: flex;
}
.TopresBtn{
    margin-left: 10px;
}